body {
    background-image: url("/image/background\ image\ 2.jpg")
}
h1{
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: aliceblue;
}
p{
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    background-color: ;
    color: aliceblue;

}
header {
    background-color:brown;
    position: relative;
  }
  
  nav {
    position: absolute;
    top: 17px;
    right: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
 
.image-folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 550px; 
    margin:0%;
  }
  
  .image-folder img {
    max-width: 100%;
    height: auto;
  }
  